.header {
  text-align: center;
  margin-top: 15px;
}

.content {
  text-align: center;
  margin-top: 15px;
}

.video {
  width: 100%;
}

.tabla-resultados {
  width: 100%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}