{% extends 'base.html' %}

{% block header %}
<div class="row header">
  <div class="col-md-12">
    <h1>{% block title %}Reconocimiento de Emociones{% endblock %}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <img class="video" src="{{ url_for('video_feed') }}">
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2>Resultados</h2>
          <p class="error"></p>
          <div class="row">
            <div class="col-md-4">
              <h4>Random Forest + BAGGing</h4>
              <p class="rf"></p>
            </div>
            <div class="col-md-4">
              <h4>SMV</h4>
              <p class="svm"></p>
            </div>
            <div class="col-md-4">
              <h4>Neural Network</h4>
              <p class="cnn"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/recon_results.js')}}"></script>
{% endblock %}