{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block header %}
<div class="row header">
  <div class="col-md-12">
    <h1>{% block title %}Reconocimiento de Emociones{% endblock %}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row content">
  <div class="col-md-6">
    <div class="card">
        <h2><i>Cámara</i></h2>
        <div class="card-body">
        <img class="video" src="{{ url_for('video_feed') }}">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
        <h2><i>Detecciones</i></h2>
        <div class="card-body detecciones-realtime">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/recon_results.js')}}"></script>
{% endblock %}